@import 'base/var';
@import 'base/reset';
@import 'mixin/mixin';
@import 'module/btn';
@import 'module/circle';




* {
    letter-spacing: $letterSpacing;
}

.container {
    width: $layoutwidth;
    @include center();
}

h1 {
    font-size: $h1;
    padding: 20px;
}

h2 {
    font-size: $h2;
    padding: 15px;
}

h3 {
    font-size: $h3;
    padding: 10px;
}

h4 {
    font-size: $h4;
    padding: 10px;
}

p {
    font-size: $p;
    color: $textBlack;
    line-height: $p * 1.5;
    text-align: justify;
    padding: 10px;
}


.tag {
    font-size: $tag;
    padding: 10px;
}

img {
    width: 100%;
    vertical-align: top;

}

a {
    text-decoration: none;
    color: $mainBlue;


    &:hover {
        color: $linkBlue;
        cursor: pointer;
    }
}

.circle {
    border-radius: 50%;
}