// 顏色
$mainBlue:#025A78;
$mainYellow:#F1EBC6;

$bgYellow:#FFF9D6;
$bgGray:#F3F3F3;
$tagGray:#676767;
$textBlack:#2e2e2e;
$linkBlue:#5F8B94;
$pageBlue:#6B879D;

// 字體


// 字級
$fs-1:18px;
$fs-2:20px;
$fs-3:24px;
$fs-4:26px;
$fs-5:28px;
$fs-6:32px;
$fs-6:48px;

// 間距
$padding:10px;
$padding-5:5px;
$margin:50px;


//圖檔路徑
$file:'image';

//原角
$circle:50%;