.card {
    box-sizing: border-box;
    width: 256px;
    margin: $margin;
    background-color: aqua;

    .pic {
        width: 100%;
    }

    .content {
        padding: $padding;

        h2 {
            padding: $padding;
        }

        p {
            padding: $padding;
        }

        .author {
            display: flex;
            align-items: center;

            .pic {
                width: 50px;

                img {
                    border-radius: $circle;
                }
            }
        }
    }


}